

.homepage-head-nav-socialnetwork {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1.5em;
    top: 1.5em;
    width: 200px;
    height: 200px;
    background-color: lightcoral;
}

.homepage-head-nav-socialnetwork li {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
}

.homepage-head-nav-socialnetwork-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(256, 256, 256, 0.15);
}
.homepage-head-nav-socialnetwork-toggle svg {
    width: 25px;
}



svg {
    width: 10px;
}

.test {
    fill: white;
    height: 2px;
}