.homepage-header-nav {
    color: hsla(60, 23%, 71%, 0.795);
    position:absolute;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 6em;
    background-color: red;
}

.homepage-header-nav-logo {
    position: absolute;
    left: 3em;
    top: 25%;
    width: 3em;
    height: 50%;
    background-color: orange;
}

.homepage-head-nav-links {
    margin: 0;
    padding: 0;
    background-color: blue;
}

.homepage-head-nav-links li {
    list-style: none;
}

.homepage-head-nav-socialnetwork {
    background-color: green;
}